
<div class="col-md-6 col-sm-6 col-xs-12">
  <div class="update">
      <span>Today forecast</span>
      <ul>
          <li>Temperture High {{forecastDetails.maxtemp}}°, Low
              {{forecastDetails.mintemp}}°</li>
          <li>Updated 16514hr 40 min ago</li>
      </ul>
  </div>
  <div class="forecast-detail">
    <ul>
      <li><span>Pressure</span><strong >{{forecastDetails.pressure}}</strong> in</li>
      <li>
          <span>Clouds</span><strong >{{forecastDetails.clouds}}</strong> %
      </li>
      
      <li><span>Humidity</span><strong>{{forecastDetails.humidity}}</strong> %</li>
    
      
      <li><span>Wind Speed</span><strong>{{forecastDetails.windspeed}}</strong> m/s</li>
      <li><span>Wind Degree</span><strong>{{forecastDetails.winddegree}}</strong>°</li>
      <li><span>Cloud Direction</span><strong>{{forecastDetails.clouddirection}}</strong> </li>
    </ul> 
  </div>
</div>
