<div></div>
<div><header >
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-8">
                    <div class="logo">
                    <h1><a href="index.html" title="Weather App">Weather App</a></h1>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="weather-forecast">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <app-form-search></app-form-search>
                </div>
            </div>
            <div class="forecast">
                <div class="status col-md-6 col-sm-6 col-xs-12">
                <app-weather-info></app-weather-info>
                </div>
                <app-forecast-detail></app-forecast-detail>
            </div>
        </div>
    </div>
</div>
</div>

